@model IEnumerable<QAHub.Models.SupportIssueModel>
@{
    ViewData["Title"] = "Support Issues";
}

<h2>Closed Support Issues</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EscalatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Version)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupportOwner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QAOwner)
                </th>
                                
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LatestUpdate)
                </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Detail</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EscalatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeEscalatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QAOwner)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Resolution.Category)
            </td>

            <td>
                @Html.TextAreaFor(modelItem => item.LatestUpdate,3,50,new { @readonly = true })
            </td>
           
        </tr>
}
    </tbody>
</table>