@model IEnumerable<QAHub.Models.SupportIssueModel>
@{
    ViewData["Title"] = "Support Issues";
}

<h2>Support Issues</h2>

<p>
   @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Version)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupportOwner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QAOwner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InitiallyRejected)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LatestUpdate)
                </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a asp-action="EditStatus" asp-route-id="@item.Id">Update Status</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QAOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitiallyRejected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestUpdate)
            </td>
           
        </tr>
}
    </tbody>
</table>